{deps, [
    {cowboy, ".*",
        {git, "git://github.com/ninenines/cowboy.git", "1.0.1"}},
    {amqp_client, ".*",
        {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.4.0-community"}}},
    {eredis, ".*",
        {git, "git://github.com/wooga/eredis.git", {tag, "v1.0.6"}}},
    {jsx, ".*",
        {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}}
]}.
