{deps, [
    {bullet, ".*",
        {git, "git://github.com/ninenines/cowboy.git", "master"}},
    {getopt, ".*",
        {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
    {amqp_client, ".*",
        {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.4.0-community"}}},
    {eredis_smart_sub, ".*",
        {git, "git://github.com/nacmartin/eredis_smart_sub.git", {tag, "v0.2.1"}}},
    {meck, ".*",
        {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
    {jsx, ".*",
        {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
    {uuid, ".*",
        {git, "git://github.com/avtobiff/erlang-uuid.git", {tag, "v0.4.7"}}}
]}.
