{release, {carotene, "0.2.2"}, [
    carotene,
    xmerl,
    rabbit_common,
    amqp_client,
    mnesia,
    eredis_smart_sub,
    jsx,
    bullet,
    uuid
]}.

{sys_config, "./config/carotene.config"}.
{vm_args, "./config/vm.args"}.

{extended_start_script, true}.

{overlay, [
    {copy, "config/carotene.config", "etc/carotene.config"},
    {copy, "config/vm.args", "etc/vm.args"},
    {template, "templates/carotene", "sbin/carotene"}
    ]}.
