[{carotene, [
    {http_port, 8080},
    {publish_auth, [
        {enabled, true},
        {authenticate_url, "http://carotene_test.lo/app_dev.php/authenticate"},
        {level, anonymous}
    ]},
    {subscribe_auth, [
        {enabled, true},
        {authenticate_url, "http://carotene_test.lo/app_dev.php/authenticate"},
        {level, anonymous}
    ]}
]}].
