[{carotene, [
    {broker, redis},
    {port, 8081},
    {nodes_in_cluster, [carotene1@localhost, carotene2@localhost]},
    {authenticate_url, "http://localhost:8000/rt-auth/"},
    {subscribe_url, "http://risqueto.lo/app_dev.php/consume"},
    {publish_authorization, [
        {level, anonymous}
    ]},
    {subscribe_authorization, [
        {level, anonymous}
    ]},
    {subscribed_channels, ["general", "room1"]}
    %{ssl, [
    %    {cacertfile, "/tmp/cowboy-ca.crt"},
    %    {certfile, "/tmp/server.crt"},
    %    {keyfile, "/tmp/server.key"}
    %    ]}
]}].
