[{carotene, [
    {broker, rabbitmq},
    {http_port, 8080},
    {authenticate_url, "http://localhost:8000/rt-auth/"},
    {subscribe_url, "http://risqueto.lo/app_dev.php/consume"},
    {publish_auth, [
        {enabled, true},
        {level, anonymous}
    ]},
    {subscribe_auth, [
        {enabled, true},
        {level, anonymous}
    ]}
]}].
